# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
bundle/

# =========================
# Hardhat
# =========================
artifacts/
cache/
coverage/
typechain/
types/

# =========================
# Python Backend
# =========================
.venv/
__pycache__/
*.pyc
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/